.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(58, 5, 144);
    padding: 1rem;
    color: white;
    font-size: 19px;
}

.footerButton {
    width: 8rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    transition: all 0.3s linear;
    margin-top: auto;
}
  
.footerButton:hover {
    background-color: #82ee3f;
  }
  