/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Card/Card.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Card_productCard__rgsBe {
  width: 220px;
  height: 300px;
  background-color: rgb(178, 178, 180);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  gap: 0.7rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.5 linear;
}

.Card_characterCard__x9_m4:hover {
  background-color: rgb(206, 206, 209);
}

.Card_images__pF6Oz {
  height: 50%;
  padding: 0;
}

.Card_chooseButton__H0RNx {
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s linear;
  margin-top: auto;
  width: 70%;
}

.Card_chooseButton__H0RNx:hover {
  background-color: #82ee3f;
}

.Card_chosen__TcSZJ {
  background-color: #89e94d;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/productList/ProductList.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.ProductList_link__zQ7DO {
    text-decoration: none;
    color:black;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ThemeButton/ThemeButton.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.ThemeButton_themeButton__Is6Ay {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}

.ThemeButton_lightButton__yW7HU {
    background-color: #ffffff;
    color: #000000;
  }
  

.ThemeButton_darkButton__7_ULa {
    background-color: #333333;
    color: #ffffff;
  }

